 .u-section-1 {
  background-image: url("images/Screenshot2024-10-19211301.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 340px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 110px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1053px;
}

.u-section-2 .u-text-1 {
  font-family: "Alfa Slab One";
  margin: 60px auto 0 414px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 70px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  width: 599px;
  margin: 58px auto 0;
}

.u-section-2 .u-image-1 {
  width: 994px;
  height: 378px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 96px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 341px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 261px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 55px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 130px;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 418px;
}

.u-section-3 .u-text-1 {
  margin: 18px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 69px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1552px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 47px;
  }
} .u-section-4 {
  background-image: linear-gradient(rgba(232,132,15,0.5019607843137255), #ea0e18);
}

.u-section-4 .u-sheet-1 {
  min-height: 296px;
}

.u-section-4 .u-image-1 {
  width: 104px;
  height: 108px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 58px auto 0 134px;
}

.u-section-4 .u-image-2 {
  width: 104px;
  height: 108px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -108px auto 0 287px;
}

.u-section-4 .u-image-3 {
  width: 104px;
  height: 108px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -108px auto 0 441px;
}

.u-section-4 .u-image-4 {
  width: 104px;
  height: 108px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -108px auto 0 595px;
}

.u-section-4 .u-image-5 {
  width: 104px;
  height: 108px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -108px auto 0 749px;
}

.u-section-4 .u-image-6 {
  width: 104px;
  height: 108px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -108px auto 60px 903px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    filter: brightness(0.75);
  }

  .u-section-4 .u-image-2 {
    filter: brightness(0.75);
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    filter: brightness(0.75);
  }

  .u-section-4 .u-image-4 {
    filter: brightness(0.75);
  }

  .u-section-4 .u-image-5 {
    filter: brightness(0.75);
    margin-top: 20px;
  }

  .u-section-4 .u-image-6 {
    filter: brightness(0.75);
    margin-left: 836px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-5 {
    margin-left: 616px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 20px;
    margin-left: 616px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-3 {
    margin-left: 436px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-left: 436px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 436px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 436px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-4 .u-image-1 {
    width: 90px;
    height: 94px;
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 90px;
    height: 94px;
    margin-top: -94px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 90px;
    height: 94px;
    margin-top: -94px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    width: 90px;
    height: 94px;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-4 .u-image-5 {
    width: 90px;
    height: 94px;
    margin-top: -94px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-6 {
    width: 90px;
    height: 94px;
    margin-top: -94px;
    margin-left: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 377px;
}

.u-section-5 .u-line-1 {
  position: absolute;
  top: 131px;
  left: -4px;
  height: 124px;
  transform-origin: center bottom;
}

.u-section-5 .u-image-1 {
  width: 221px;
  height: 233px;
  margin: 69px auto 0 -316px;
}

.u-section-5 .u-text-1 {
  margin: -186px auto 0 80px;
}

.u-section-5 .u-text-2 {
  margin: -56px auto 0 315px;
}

.u-section-5 .u-text-3 {
  margin: -57px -152px 0 auto;
}

.u-section-5 .u-text-4 {
  margin: -58px 108px 0 auto;
}

.u-section-5 .u-text-5 {
  margin: -57px 375px 0 auto;
}

.u-section-5 .u-text-6 {
  margin: 36px -151px 0 auto;
}

.u-section-5 .u-text-7 {
  margin: -57px 108px 0 auto;
}

.u-section-5 .u-text-8 {
  margin: -58px 375px 0 auto;
}

.u-section-5 .u-text-9 {
  margin: -57px auto 0 80px;
}

.u-section-5 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: -46px auto 0 36px;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: -128px auto 0 36px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: -31px auto 0 270px;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  width: 32px;
  height: 32px;
  margin: -33px auto 0;
  padding: 0;
}

.u-section-5 .u-icon-5 {
  width: 32px;
  height: 32px;
  margin: 64px auto 0;
  padding: 0;
}

.u-section-5 .u-icon-6 {
  width: 32px;
  height: 32px;
  margin: -128px 271px 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-7 {
  width: 32px;
  height: 32px;
  margin: 64px 271px 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-8 {
  width: 32px;
  height: 32px;
  margin: -128px 12px 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-9 {
  width: 32px;
  height: 32px;
  margin: 65px 12px 0 auto;
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 1076px;
  height: 229px;
  margin: -372px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 260px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 309px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 309px;
  }

  .u-section-5 .u-image-2 {
    width: 940px;
    height: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 199px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 237px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 237px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 207px;
  }

  .u-section-5 .u-icon-6 {
    margin-right: 208px;
  }

  .u-section-5 .u-icon-7 {
    margin-right: 208px;
  }

  .u-section-5 .u-image-2 {
    width: 720px;
    height: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 149px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 178px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 178px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 155px;
  }

  .u-section-5 .u-icon-6 {
    margin-right: 156px;
  }

  .u-section-5 .u-icon-7 {
    margin-right: 156px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-5 .u-image-1 {
    width: 173px;
    height: 117px;
    margin-top: 54px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 112px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 112px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -48px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 103px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 66px;
  }

  .u-section-5 .u-icon-6 {
    margin-right: 98px;
  }

  .u-section-5 .u-icon-7 {
    margin-right: 98px;
  }

  .u-section-5 .u-image-2 {
    height: 72px;
    margin-top: -207px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 377px;
}

.u-section-6 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  width: 366px;
  margin: 60px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 41px auto 0;
  padding: 10px 1px 12px 0;
}

.u-section-6 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: -48px auto 0 401px;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: 40px auto 0 401px;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  font-weight: 700;
  margin: -49px auto 61px;
  padding: 11px 3px 11px 1px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 331px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 20px;
    margin-left: 254px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 254px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 191px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -50px;
    margin-left: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -48px;
    margin-bottom: 60px;
  }
}